* {
    box-sizing: border-box;
}

/* Font Styles */
body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: "sofia-pro", sans-serif; */
    /* font-family: "tenon", sans-serif; */
    font-weight: 400;
    font-style: normal;
    background-color: #FFFAFA;
}

h1 {
    font-weight: 450;
    font-size: 2.25rem;
    padding: 2rem 0;
    margin-bottom: 0.5rem;
}

.h1-light {
    font-weight: 400;
}

.h1-case {
    margin-bottom: 0.75rem;
}

h2 {
    font-weight: 400;
    font-size: 1.75rem;
    min-width: 13rem;
    /* margin-top: 0rem; */
    /* color: #368069; */
}

.heading {
    color: #368069;
}

.two h2 {
    margin-top: 0;
}

.case-body.two {
    margin-bottom: 2.5rem;
}

h2.h2-xl {
    font-weight: 450;
    font-size: 2.25rem;
    /* margin-top: 0.5rem;
    margin-bottom: 3.25rem; */
    margin-bottom: 1rem;
}

h2.h2-lg {
    margin-top: 0;
}

h2.h2-md {
    font-weight: 500;
    font-size: 0.95rem;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    color: #959595
}

h2.h2-sm {
    font-weight: 500;
    font-size: 0.95rem;
    padding-top: 0;
    margin-top: 2.5rem;
    color: #959595
}

h3 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    line-height: 1.75rem;
}

.case-name {
    padding-bottom: 0;
}

.insights {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

h4 {
    font-weight: 700;
    font-size: 1rem;
}

p {
    line-height: 1.5rem;
    /* padding-bottom: 1rem; */
}

em {
    color: #368069;
    font-style: normal;
}


/* Navigation */
.navbar {
    width: 100%;
    padding: 2.5rem;
    margin-bottom: 2rem;
    z-index: 10;
    font-size: 0.85rem;
}

.navbar .logo {
    text-align: left;
    display: block;
    float: left;
}

.navbar .menu {
    float: right;
    position: relative;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.navbar li {
    padding-left: 1.25rem;
    float: left;
}

.navbar a {
    color: #202020;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 0.85rem;

    border-radius: 75px;
    border: solid 1px;
    border-color: #21212150;
    transition: 0.2s;
}

.navbar a:hover,
.navbar a:focus {
    /* color: #368069; */
    text-decoration: none;
    background-color: #21212115;
}

.navbar .active {
    color: #368069;
}

a {
    color: #368069;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}


.selected a {
    color: #b2b2b2;
}

hr {
    height: 0.25px;
    color: #368069;
    background-color: #368069;
    margin: 6rem 0 3rem;
    box-shadow: 0 20px 20px -20px #333;
    /* margin-left: 7rem;
    margin-right: 7rem; */
}


/* Images */
/* Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
img {
    height: auto;
    max-width: 100%;
    filter: drop-shadow(0 0 0.2rem #d2d2d2);
}

a:hover img,
a:focus img {
    filter: brightness(0.8);
}

figure {
    padding-bottom: 2rem;
    margin: 0;
}

figure h3 {
    margin-bottom: 0;
}

figure p {
    margin-top: 0.5rem;
}

figure img {
    border-radius: 8px;
}

/* Home Page */
/* .green-bg {
    background-color: #368069;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
} */


/* Footer */
.footer {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.footer p {
    font-size: 0.75rem;
    text-align: center;
}

/* About Page */
.biography {
    padding: 0 3rem;
}

.biography h1 {
    padding-bottom: 0;
}

.biography h2 {
    padding-top: 1rem;
    font-size: 1.25rem;
}

.biography p {
    margin: 1.25rem 0;
    line-height: 1.5rem;
}

/* .biography a {
    display: inline-block;
    padding-right: 5rem;
} */

.biography a p {
    margin: 0rem;
}

.intro-item {
    padding-right: 3rem;
}

.intro-item .h2-sm {
    margin: 0;
    padding-top: 1rem;
}

.section {
    padding-bottom: 0;
    margin-bottom: 0;
}

.section.bio {
    margin-top: 5rem;
}

.section.main {
    margin-left: 0;
    margin-right: 0;
}

.grey {
    background-color: #eeeeee;
}

.headshot {
    padding-top: 1.5rem;
}

.case-body h3 {
    padding-top: 0;
    /* margin-top: 2rem; */
}

.case-body h3 {
    /* margin-top: 6rem; */
}

.case-body p {
    padding-bottom: 1rem;
    margin-top: 0;
}

.case-body.grey {
    margin-top: 0;
    padding-top: 0;
}

.grid.case-intro .h2-sm {
    padding-top: 2rem;
}

p.sub-p-img {
    padding-bottom: 0;
}

a.btn {
    background: #368069;
    color: #FFF;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    transition: background-color 0.35s;
    /* border-radius: 5px; */
    font-size: 1rem;
    cursor: pointer;
    /* height: 2.6rem; */
    filter: drop-shadow(0 0 0.2rem #d2d2d2);
}

.btn:hover,
.btn:focus {
    background-color: #276553;
    text-decoration: none;
}


/* Reference: https://www.w3schools.com/howto/howto_css_modal_images.asp */
/* Case study images (click to enlarge) */
.static-img {
    border-width: 0.25px;
    border-style: solid;
    border-color: #368069;
    filter: none;
    margin-top: 6rem;
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(0 0 0.2rem #d2d2d2);
}

.static-img:hover,
.static-img:focus {
    filter: brightness(0.8);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 7.5rem;
    padding-bottom: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.pop-up {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 50rem;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 75rem;
    text-align: center;
    color: #FFF;
    padding: 2rem 0;
    height: 1rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #FFF;
    font-size: 3rem;
}

.close:hover,
.close:focus {
    color: #BBB;
    text-decoration: none;
    cursor: pointer;
}

.p-cap {
    /* text-align: center; */
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

.highlight {
    background: #FFFAFA;
    padding: 2.4rem 2.4rem 0.4rem;
    margin-bottom: 2rem;

    border-radius: 8px;
    border: solid 1px;
    border-color: #21212150;
}

.quote {
    min-height: 5rem;
    background: #368069;
    border-radius: 8px;
    color: #FFF;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.quote p {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

p.author {
    font-size: 0.95rem;
    line-height: normal;
    padding-bottom: 1rem;
}

.comparison {
    margin-top: 0;
}

.prototype {
    margin-top: 2rem;
    margin-bottom: 5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.figma {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.final-design,
.prototype {
    margin-top: 2rem;
}

.sub-p2 {
    padding-top: 2rem;
}

video {
    width: 100%;
    height: auto;
}

.yt-vid {
    padding-bottom: 50%;
    position: relative;
}

.yt-vid iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.none {
    margin-bottom: 3rem;
}

/* .skill {
    margin-top: 2rem;
    font-size: 0.8rem;

    display: inline;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 0.85rem;

    border-radius: 75px;
    border: solid 1px;
    border-color: #21212150;
} */